.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.productListContainer{
  justify-content: space-between;
}

.productContainer{
  /* min-height: 350px; */
  width: 210px;
  text-align: left;
  margin: 10px;
  padding: 2px;
  border-style: solid;
  border-color: #ECECEC;
  border-width: 0.5px;
  border-radius: 5px;
}

.thumbnailContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productThumbnail{
  height: 250px;
  width: 200px;
}

.productThumbnailFullContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productThumbnailFull{
  height: 600px;
  width: 560px;
}

.productInfo{
  padding-left: 4px;
  color: #3F5668;
  margin-top: 5px;
}

.productDetail{
  padding-left: 5px;
  padding-right: 5px;
}

.inline {
  flex-direction: row;
  display: flex;
}

.availableColor {
  border-style: solid;
  border-radius: 100px;
  height: 15px;
  width: 15px;
}

.loader {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}