.App {
  text-align: center;
}

.logo {
  height: 38px;
  width: 119px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #0D0D0D;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  border-bottom-width: 0.5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}